
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --color-font: rgb(122, 112, 112);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  
}

/* Estilos para el menú */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 0.8rem;
  color: #999;
  font-weight: 400;

}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ff9800;
}

/* Estilos para el icono del menú hamburguesa */
.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Estilos para las secciones */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border-bottom: 2px solid #ccc;
}

#seccion1 {
  display: flex;
  justify-content: space-evenly;
}

#seccion1 img{
  border-radius: 50%;
}

#seccion1 p{
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

#seccion2 {
  display: flex;
  flex-direction: column;
}

#seccion3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#seccion4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* height: calc(100vw - 200px); */
}

#seccion5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* height: calc(100vw - 200px); */
}

.pie{
  background-color: #555;
  padding: 10px;
  color: white;
}

.pie a{
  color: white;

}

section:nth-child(odd) {
  background-color: #e0e0e0;
}

section h1 {
  font-size: 48px;
}

/* Espaciado adicional para evitar que el contenido se superponga con el menú */
body {
  padding-top: 60px; /* Ajusta este valor según la altura del menú */
}

ul.elegant-list {
  list-style-type: none; /* Eliminar viñetas */
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif; /* Fuente elegante */
  font-size: 18px;
  color: #333; /* Color de texto gris oscuro */
}

ul.elegant-list li {
  padding: 10px 20px; /* Espaciado vertical y horizontal */
  margin-bottom: 10px; /* Espacio entre los elementos */
  background-color: #fff; /* Fondo blanco para destacar la sombra */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

ul.elegant-list li:hover {
  transform: translateY(-3px); /* Efecto de elevación en hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada en hover */
}

ul.elegant-list li:last-child {
  margin-bottom: 0; /* Eliminar margen en el último elemento */
}

ul.elegant-list li::before {
  content: '•'; /* Agregar viñeta personalizada */
  color: #ff6347; /* Color de la viñeta (tomato) */
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

.contacto-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px; 
}

/* Estilos para las cards */

.imagenes-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}
/* Contenedor de la imagen */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: box-shadow 0.3s ease; /* Transición para la sombra */
}

.proyecto-cuerpo{
  display: flex;
  gap: 10px;
  padding: 5px;
  /* width: 5rem; */
}
.proyecto-cuerpo p{
  width: 280px;
}

.image-container h3{
  background-color: #555;
  color: #ddd;
  padding: 5px;
  width: 100%;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* Imagen */
.proyecto-cuerpo img {
  /* width: 500px; */
  /* height: auto; */
  transition: transform 0.3s ease, filter 0.3s ease; /* Transición para la transformación y el filtro */
}
/* Imagen */
.image-container img {
  width: 8rem;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease; /* Transición para la transformación y el filtro */
}

/* Texto sobre la imagen */
.image-container .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  opacity: 0; /* Comienza invisible */
  transition: opacity 0.3s ease; /* Transición para el texto */
  text-align: center;
  pointer-events: none; /* Evita que el texto interfiera con el hover */
}

/* Efecto al pasar el mouse */
.image-container:hover img {
  transform: scale(1.1); /* Agranda la imagen ligeramente */
  filter: brightness(70%); /* Cambia la tonalidad de la imagen */
}

.image-container:hover .overlay-text {
  opacity: 1; /* Muestra el texto */
}

.image-container:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Aumenta la sombra en hover */
}

.image-container-contacto:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Aumenta la sombra en hover */
  cursor: pointer;
}

.texto-encima{
  text-align: center;
  background-color: rgba(51, 51, 51, 0.225);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #555;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2px;
  width: 100%;
}

/* Estilos responsive para pantallas pequeñas */
@media (max-width: 768px) {
  
  nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
  }

  nav ul.show {
      display: flex;
  }

  nav ul li {
      margin: 10px 0;
      text-align: center;
  }

  #seccion1 {
    flex-direction: column;
    justify-content: center;
  }

  #seccion1 p{
    margin-top: 15px;
    width: 15rem;
  }

  #seccion1 img{
    width: 15rem;
  }
  .hamburger {
      display: block;
  }

  ul.elegant-list {
    font-size: 14px;
  }

  .imagenes-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .image-container img {
    width: 5rem;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transición para la transformación y el filtro */
  }

  #seccion5 h1{
    font-size: 24px;
    text-align: center;
  }
}
